<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos3.css') }}">
</head>
<body>
<div class="container">
    <h1>Calculo de Compras</h1>
    <form action="{{ url_for('ejercicio1') }}" method="post">

            <label for="nombre">Ingresa tu nombre</label>
            <input type="text" name="nombre"  required>
            <br>
            <label for="edad">Ingresa tu edad</label>
            <input type="number" name="edad" required>
            <br>
            <label for="tarros">Ingresa la cantidad de tarros de pintura a comprar</label>
            <input type="number" name="tarros" required>
            <br>
            <button class="btn1">Calcular</button>

    </form>
    {% if resultado %}

    <p> Nombre del cliente: {{ nombre }}</p>
    <p> Total sin descuento: ${{ total_sin_descuento }}</p>
    <p> El descuento es: ${{total_sin_descuento * descuento }}</p>
    <p> El total a pagar es de: ${{ total_con_descuento }}</p>
    {% endif %}
</div>
</body>
</html>